.textcss {
	background-image: url('https://newevolutiondesigns.com/images/freebies/black-wallpaper-10.jpg');
	background-size: 1370px 100%;
    background-repeat: no-repeat;
    height:100vh;

}

.registerImage {
	width: 31%;
    margin-top: 75px;
    margin-bottom: 20px;
	margin-left: 198px;
}
